

#container{
    display:flex;
    flex-direction: column;
}

#menu{
    background-color: black;
    display:flex;
    color: white;
    justify-content: center;
    list-style: none;

}
#menu li{ 
    padding-top:1%;
    padding-bottom: 1%;
    padding-left: 10%;
    padding-right: 10%;


}

 


    

figcaption {font-size: 25px;
    text-align: center;
     color:#0a2342;}


