#images {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;

}
#images img{
    height:25%;
   
    border-color:aqua;
    border-style: solid;
}
.caption{
    display:flex;
    flex-direction: column;
}

p {font-size: 25px;
    text-align: center;
     color:#0a2342;}